<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>992609255592-rsrmjj8euln9b6omdf3cgboo2v1e6j0i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.992609255592-rsrmjj8euln9b6omdf3cgboo2v1e6j0i</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>992609255592-73522tgujvojpkk1g063kqp7llbfubod.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAUIuZVdkXSGVJWH4dkBphWSAQ0yc-BFD0</string>
	<key>GCM_SENDER_ID</key>
	<string>992609255592</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.walletapp</string>
	<key>PROJECT_ID</key>
	<string>wallet-e5298</string>
	<key>STORAGE_BUCKET</key>
	<string>wallet-e5298.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:992609255592:ios:0c257fa884563e0f7cc29d</string>
</dict>
</plist>